.box {
    height: 40px;
}

.box-black {
    background-color: black;
}

.box-red {
    background-color: red;
}

.box-orange {
    background-color: #e46b04;
}

.box-yellow {
    background-color: yellow;
}